* {
  background-color: #9babb8;
}
.image {
  height: 20px;
  width: 20px;
  border-width: 0px;
}
button {
  border-width: 0px;
  background-color: none;
}
.inputBox {
  width: 700px;
  margin: 10px;
  height: 40px;
  border-radius: 10px;
  border-color: #164b60;
}
.sender {
  display: flex;
  flex-direction: row;
  margin-left: 440px;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
}
ul {
  list-style-type: none;
}
